# Binaries for programs and plugins:
azssh
release/
*.exe

# Test binary, build with `go test -c`:
*.test

# Output of the go coverage tool:
*.out

# IDEs and Editors:
.idea/
.sw[a-p]
.*.sw[a-p]
*~
.vscode/

# macOS:
*.DS_Store
._*
